// --- Raw CSS styles go here ---

// Show videos as responsive and full width
.responsive-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.responsive-video iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

// Make columns in index.html same height
#home-card {
    height: 100%;
}

// Force footer to bottom of page
.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.section {
    flex: 1;
}

// Prevent word breaks
.title, .subtitle {
    word-break: normal;
}

// Give some extra space for h5's
.content h5 {
    margin-top: 2em;
}

// Prevent full-width images
img {
    width: 100%;
    max-width: 500px;
    display: block;
}